<!DOCTYPE html>
<html lang="en">

<head>
    <title>Article</title>
    <%- include('../common/head') %>
</head>

<body>
    <div class="container">

        <h1 class="mb-2">
            <%= article.title %>
        </h1>

        <p class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </p>

        <div class="mb-2">
            <a href="/" class="btn btn-secondary">All Articles</a>
            <a href="/articles/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
        </div>

        <h5>
            coverImagePath:
        </h5>
        <p>
            <%= article.coverImagePath %>
        </p>
        <% if (article.coverImagePath != null) { %>
        <figure class="figure">
            <img src="<%= article.coverImagePath %>" class="figure-img img-fluid rounded">
        </figure>
        <% } %>

        <hr>

        <h5>
            coverImageDBPath:
        </h5>
        <p>
            <%= article.coverImageDBPath %>
        </p>
        <% if (article.coverImageDBPath != null) { %>
        <figure class="figure">
            <img src="<%= article.coverImageDBPath %>" class="figure-img img-fluid rounded">
        </figure>
        <% } %>

        <hr>

        <p>
            <%- article.sanitizedHtml %>
        </p>

    </div>
</body>

</html>